input,
textarea {
  padding: 8px 20px;
  border-radius: 6px;
  width: 100%;
  margin-top: 8px;

  &:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    background-color: transparent !important;
    -webkit-text-fill-color: white;
  }
}

textarea {
  min-height: 38px;
  resize: vertical;
}
